<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <p>&nbsp</p>
    <div id="96bfd7bf37034bf7812deb8a30fc3b3a" class="chart-container" style="width:1000px; height:500px; float:left;"></div>
    <script>
        var chart_96bfd7bf37034bf7812deb8a30fc3b3a = echarts.init(
            document.getElementById('96bfd7bf37034bf7812deb8a30fc3b3a'), 'white', {renderer: 'canvas'});
        var option_96bfd7bf37034bf7812deb8a30fc3b3a = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u623f\u5c4b\u6570\u91cf",
            "legendHoverLink": true,
            "data": [
                5,
                107,
                62,
                884,
                5,
                267,
                533,
                208,
                35,
                138,
                148,
                229
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "line",
            "name": "\u5355\u4f4d\u9762\u79ef\u79df\u91d1\u6bd4",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u4ece\u5316",
                    19.03
                ],
                [
                    "\u5357\u6c99",
                    25.59
                ],
                [
                    "\u589e\u57ce",
                    19.32
                ],
                [
                    "\u5929\u6cb3",
                    56.73
                ],
                [
                    "\u5e7f\u5dde\u5468\u8fb9",
                    37.05
                ],
                [
                    "\u6d77\u73e0",
                    57.82
                ],
                [
                    "\u756a\u79ba",
                    39.78
                ],
                [
                    "\u767d\u4e91",
                    49.45
                ],
                [
                    "\u82b1\u90fd",
                    38.38
                ],
                [
                    "\u8354\u6e7e",
                    46.58
                ],
                [
                    "\u8d8a\u79c0",
                    71.36
                ],
                [
                    "\u9ec4\u57d4",
                    42.29
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u623f\u5c4b\u6570\u91cf",
                "\u5355\u4f4d\u9762\u79ef\u79df\u91d1\u6bd4"
            ],
            "selected": {
                "\u623f\u5c4b\u6570\u91cf": true,
                "\u5355\u4f4d\u9762\u79ef\u79df\u91d1\u6bd4": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisPointer": {
                "show": true,
                "type": "shadow"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4ece\u5316",
                "\u5357\u6c99",
                "\u589e\u57ce",
                "\u5929\u6cb3",
                "\u5e7f\u5dde\u5468\u8fb9",
                "\u6d77\u73e0",
                "\u756a\u79ba",
                "\u767d\u4e91",
                "\u82b1\u90fd",
                "\u8354\u6e7e",
                "\u8d8a\u79c0",
                "\u9ec4\u57d4"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "name": "\u6570\u91cf",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 200,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u4e2a"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 0,
            "max": 1400,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "type": "value",
            "name": "\u5355\u4f4d\u9762\u79ef\u79df\u91d1\u6bd4",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 10,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5143/m\u00b2"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 0,
            "max": 80,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_96bfd7bf37034bf7812deb8a30fc3b3a.setOption(option_96bfd7bf37034bf7812deb8a30fc3b3a);
    </script>

    <div>
        <p>&nbsp</p>
        <hr>
        <h2>数据分析</h2>

    </div>
</body>
</html>
