<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

    
</head>
<body>

    <div class="box">
                <div id="77c230e41d8d4b3cb4684dc19d277647" class="chart-container" style="width:500px; height:300px; float:left;"></div>
    <script>
        var chart_77c230e41d8d4b3cb4684dc19d277647 = echarts.init(
            document.getElementById('77c230e41d8d4b3cb4684dc19d277647'), 'white', {renderer: 'canvas'});
        var option_77c230e41d8d4b3cb4684dc19d277647 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u623f\u5c4b\u6570\u91cf",
            "legendHoverLink": true,
            "data": [
                54,
                341,
                27,
                447,
                622,
                1,
                149,
                792,
                1
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u623f\u5c4b\u6570\u91cf"
            ],
            "selected": {
                "\u623f\u5c4b\u6570\u91cf": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "name": "\u5ba4/\u5385",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "nameRotate": 45,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "axisPointer": {
                "show": true,
                "type": "shadow"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u5ba40\u5385",
                "1\u5ba41\u5385",
                "1\u5ba42\u5385",
                "2\u5ba41\u5385",
                "2\u5ba42\u5385",
                "3\u5ba40\u5385",
                "3\u5ba41\u5385",
                "3\u5ba42\u5385",
                "3\u5ba43\u5385"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "name": "\u623f\u5c4b\u6570\u91cf",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 100,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u4e2a"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 0,
            "max": 800,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_77c230e41d8d4b3cb4684dc19d277647.setOption(option_77c230e41d8d4b3cb4684dc19d277647);
    </script>
<br/>                <div id="0e93eadf7b5f43178e435b753fd268d2" class="chart-container" style="width:500px; height:300px; float:left; position:absolute; left:550px; top:10px"></div>
    <script>
        var chart_0e93eadf7b5f43178e435b753fd268d2 = echarts.init(
            document.getElementById('0e93eadf7b5f43178e435b753fd268d2'), 'white', {renderer: 'canvas'});
        var option_0e93eadf7b5f43178e435b753fd268d2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": "#439B78",
    "series": [
        {
            "type": "bar",
            "name": "\u623f\u5c4b\u6570\u91cf",
            "legendHoverLink": true,
            "data": [
                121,
                97,
                306,
                8,
                179,
                1222,
                310,
                47,
                55,
                82
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u623f\u5c4b\u6570\u91cf"
            ],
            "selected": {
                "\u623f\u5c4b\u6570\u91cf": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "type": "category",
            "name": "\u671d\u5411",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "nameRotate": 45,
            "gridIndex": 0,
            "axisLabel": {
                "rotate": 45
            },
            "axisPointer": {
                "show": true,
                "type": "shadow"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u671d\u4e1c",
                "\u671d\u4e1c\u5317",
                "\u671d\u4e1c\u5357",
                "\u671d\u4e1c\u897f",
                "\u671d\u5317",
                "\u671d\u5357",
                "\u671d\u5357\u5317",
                "\u671d\u897f",
                "\u671d\u897f\u5317",
                "\u671d\u897f\u5357"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "name": "\u623f\u5c4b\u6570\u91cf",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 200,
            "gridIndex": 0,
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": false
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u4e2a"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": 0,
            "max": 1400,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_0e93eadf7b5f43178e435b753fd268d2.setOption(option_0e93eadf7b5f43178e435b753fd268d2);
    </script>
<br/>                <div id="1cd344791db64fdba859839926ba947a" class="chart-container" style="width:900px; height:500px; float:left; position:absolute; left=10px; top=300px;"></div>
    <script>
        var chart_1cd344791db64fdba859839926ba947a = echarts.init(
            document.getElementById('1cd344791db64fdba859839926ba947a'), 'white', {renderer: 'canvas'});
        var option_1cd344791db64fdba859839926ba947a = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u662f",
                    "value": 669
                },
                {
                    "name": "\u5426",
                    "value": 2304
                }
            ],
            "radius": [
                "0%",
                "40%"
            ],
            "center": [
                "30%",
                "80%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {d}%"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u662f",
                "\u5426"
            ],
            "selected": {},
            "show": true,
            "left": "10%",
            "top": "60%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u662f\u5426\u4e3a\u5c0f\u533a\u7ba1\u7406",
            "left": "210",
            "top": "50%",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1cd344791db64fdba859839926ba947a.setOption(option_1cd344791db64fdba859839926ba947a);
    </script>
<br/>                <div id="2b9074e95d4d4e6aba85ed43d6481770" class="chart-container" style="width:900px; height:500px; float:left; position:absolute; left=550px; top=300px;"></div>
    <script>
        var chart_2b9074e95d4d4e6aba85ed43d6481770 = echarts.init(
            document.getElementById('2b9074e95d4d4e6aba85ed43d6481770'), 'white', {renderer: 'canvas'});
        var option_2b9074e95d4d4e6aba85ed43d6481770 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u662f",
                    "value": 647
                },
                {
                    "name": "\u5426",
                    "value": 2326
                }
            ],
            "radius": [
                "0%",
                "40%"
            ],
            "center": [
                "86%",
                "77%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {d}%"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u662f",
                "\u5426"
            ],
            "selected": {},
            "show": true,
            "left": "66%",
            "top": "55%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u662f\u5426\u4e3a\u62ce\u5305\u5165\u4f4f",
            "left": "80%",
            "top": "47%",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_2b9074e95d4d4e6aba85ed43d6481770.setOption(option_2b9074e95d4d4e6aba85ed43d6481770);
    </script>
<br/>    </div>

    <div style="position:absolute; left:1060px; top:20px; ">
        <hr>
        <h2>数据分析</h2>
    </div>


    <script>
    </script>
</body>
</html>
