<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <p>&nbsp;</p>
    <div id="5502815fa6be41bc8df369658a56e6b4" class="chart-container" style="width:900px; height:500px; float:left;"></div>
    <script>
        var chart_5502815fa6be41bc8df369658a56e6b4 = echarts.init(
            document.getElementById('5502815fa6be41bc8df369658a56e6b4'), 'white', {renderer: 'canvas'});
        var option_5502815fa6be41bc8df369658a56e6b4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "boxplot",
            "data": [
                [
                    1300,
                    1500.0,
                    1800,
                    2225.0,
                    2350
                ],
                [
                    1300,
                    2000,
                    2300,
                    2800,
                    6000
                ],
                [
                    800,
                    1800.0,
                    2300.0,
                    2725.0,
                    8500
                ],
                [
                    500,
                    3600.0,
                    4200.0,
                    5200.0,
                    9800
                ],
                [
                    1040,
                    3300,
                    4500,
                    5800,
                    9800
                ],
                [
                    650,
                    2550.0,
                    3100,
                    4350.0,
                    9000
                ],
                [
                    1300,
                    3200.0,
                    4500.0,
                    5375.0,
                    9500
                ],
                [
                    1400,
                    1800,
                    2200,
                    2400,
                    4400
                ],
                [
                    2000,
                    3300.0,
                    4000.0,
                    4620.0,
                    7500
                ],
                [
                    1500,
                    3525.0,
                    5000.0,
                    6175.0,
                    9500
                ],
                [
                    1499,
                    2799.5,
                    3200,
                    3850.0,
                    7000
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "markPoint": {
                "label": {
                    "show": true,
                    "position": "inside",
                    "color": "#fff",
                    "margin": 8
                }
            },
            "markLine": {
                "silent": false,
                "precision": 2,
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                }
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u5730\u533a",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u4ece\u5316",
                "\u5357\u6c99",
                "\u589e\u57ce",
                "\u5929\u6cb3",
                "\u6d77\u73e0",
                "\u756a\u79ba",
                "\u767d\u4e91",
                "\u82b1\u90fd",
                "\u8354\u6e7e",
                "\u8d8a\u79c0",
                "\u9ec4\u57d4"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u79df\u91d1",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u5404\u5730\u533a\u79df\u91d1\u7bb1\u578b\u56fe",
            "left": "350",
            "top": "5",
            "padding": 5,
            "itemGap": 10,
            "textStyle": {
                "color": "black",
                "fontFamily": "KaiTi",
                "fontSize": 20
            }
        }
    ]
};
        chart_5502815fa6be41bc8df369658a56e6b4.setOption(option_5502815fa6be41bc8df369658a56e6b4);
    </script>
    <div>
        <p>&nbsp</p>
        <hr>
        <h2>数据分析</h2>

    </div>
</body>
</html>
